/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import "bootstrap";

html {
  font-size: 16px;
}

body {
  font-size: 20px;
}

.vh-100 {
  min-height: 100vh;
}

.ta-center {
  text-align: center;
}

.m-left {
  margin-left: 15px;
}

.m-right {
  margin-right: 15px;
}

.x-scroll {
  overflow-x: auto;
}

.badge {
  font-size: 100%;
}

.h1-title,
.h2-title {
  text-align: center;
  margin: 1em 0 .7em 0;
}

.section {
  margin: 3em 0;
}
